.navbarbrand {
  display: block;
  text-decoration: none;
  color: #e50815;
  font-size: 30px;
  margin: 5px;
}

.show {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}
.fa-magnifying-glass {
  display: block;
  margin-left: 700px;
}
.fa-bell {
  margin: 20px;
}

h1 {
  font-family: "Abel", sans-serif;
}
